name: Get actions that use the OSS Scan action

on:
  push: 
    branches: 
      - main
    paths:
      - .github/workflows/ossf-scan.yml
      - .github/workflows/ossf-scan.ps1

  schedule:
     - cron: '50 3 * * *'

  workflow_dispatch:

jobs:
  get-data:
    concurrency:
      group: repo-state-updates
      cancel-in-progress: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Download status.json from blob storage
        shell: pwsh
        env:
          STATUS_BLOB_SAS_TOKEN: "${{ secrets.STATUS_BLOB_SAS_TOKEN }}"
        run: |
          . ./.github/workflows/library.ps1
          $result = Get-StatusFromBlobStorage -sasToken $env:STATUS_BLOB_SAS_TOKEN
          if (-not $result) {
            Write-Error "Failed to download status.json from blob storage"
            exit 1
          }

      - name: Get App Token
        id: get_workflow_token
        uses: rajbos-actions/workflow-application-token-action@v3.0.0
        with:
          application_id: 264650
          application_private_key: ${{ secrets.Automation_App_Key }}
          organization: actions-marketplace-validations
          
      - shell: pwsh
        name: Run reporting script
        run: |
           $actions=(cat status.json | ConvertFrom-Json)
           Write-Host "Found [$($actions.Length)] actions in the datafile"
           # $numberOfReposToDo = $actions.Length
           $numberOfReposToDo = 1000
           ./.github/workflows/ossf-scan.ps1 -actions $actions -numberOfReposToDo $numberOfReposToDo -logSummary "$($env:GITHUB_STEP_SUMMARY)" -access_token "${{ secrets.ACCESS_TOKEN }}" -access_token_destination ${{ steps.get_workflow_token.outputs.token }}

      - name: Upload status.json to blob storage
        if: always()
        shell: pwsh
        env:
          STATUS_BLOB_SAS_TOKEN: "${{ secrets.STATUS_BLOB_SAS_TOKEN }}"
        run: |
          . ./.github/workflows/library.ps1
          $result = Set-StatusToBlobStorage -sasToken $env:STATUS_BLOB_SAS_TOKEN
          if (-not $result) {
            Write-Error "Failed to upload status.json to blob storage"
            exit 1
          }

      - name: Commit failedForks.json changes
        if: always()
        run: |
          if [[ `git status --porcelain failedForks.json` ]]; then
            git config --global user.email "github_token@github.com"
            git config --global user.name "GITHUB_TOKEN"
            
            git add failedForks.json
            git commit -m "Update failedForks.json"
            git push
          else
            echo "No changes to failedForks.json"
          fi
