name: Cleanup repos
on:
  workflow_dispatch:

  #schedule:
  #  - cron: '*/60 * * * *'
    
jobs:
  cleanup-all-repos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
          
      - shell: pwsh
        name: Run reporting script
        run: |
           ./.github/workflows/cleanup-all-repos.ps1 -numberOfReposToDo 500 -access_token "${{ secrets.ACCESS_TOKEN }}"

      